@import "helpers";
.container {
	width: 100%;
	max-width: 993px;
	margin: 10px auto;
}

.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

/* Grid System built from scss/grid.scss */
$columns: 12;
$list: xl l m l sx xxs;

@media #{$xlargescreen} {
	@for $i from 1 through $columns {
		.row-xl-#{$i} {
			width: percentage($i/12);
			float: left;
		}
	}
	@for $i from 0 through $columns {
		.row-xl-#{12 - $i}-push {
			left: percentage(1 - ($i/12));
			width: percentage($i/12);
			position: relative;
		}
	}
	@each $size in $list {
		.hide-#{$size} {
			display: none;
		}
	}
	.show-xl {
		display: inline-block !important;
	}
	.show-only-s {
		display: none;
	}
}

@media #{$largescreen} {
	@for $i from 1 through $columns {
		.row-l-#{$i} {
			width: percentage($i/12);
			//background-color: purple;
			float: left;
		}
	}
	@for $i from 0 through $columns {
		.row-l-#{12 - $i}-push {
			left: percentage(1 - ($i/12));
			width: percentage($i/12);
			position: relative;
			//background-color: Plum;
		}
	}
	@each $size in $list {
		.hide-#{$size} {
			display: none;
		}
	}
	.show-l {
		display: inline-block;
	}
	.show-only-s {
		display: none;
	}
	.show-only-xl {
		display: none;
	}
}

@media #{$mediumscreen} {
	@for $i from 1 through $columns {
		.row-m-#{$i} {
			width: percentage($i/12);
			// background-color: green;
			float: left;
		}
	}
	@for $i from 0 through $columns {
		.row-m-#{12 - $i}-push {
			left: percentage(1 - ($i/12));
			width: percentage($i/12);
			position: relative;
			//background-color: LightGreen;
		}
	}
	@each $size in $list {
		.hide-#{$size} {
			display: none;
		}
	}
	.show-m {
		display: inline-block;
	}
	.show-only-s {
		display: none;
	}
	.show-only-xl {
		display: none;
	}
}

@media #{$smallscreen} {
	@for $i from 1 through $columns {
		.row-s-#{$i} {
			width: percentage($i/12);
			//background-color: blue;
			float: left;
		}
	}
	@for $i from 0 through $columns {
		.row-s-#{12 - $i}-push {
			left: percentage(1 - ($i/12));
			width: percentage($i/12);
			position: relative;
			//background-color: LightBlue;
		}
	}
	@each $size in $list {
		.hide-#{$size} {
			display: none;
		}
	}
	.hide-s {
		display: none;
	}
	.show-only-s {
		display: block;
	}
}

