@import "helpers";
@import "fonts";

body {
	background-color: $gray;
	margin: 0 40px;
	@media #{$smallscreen} {
		margin: 0 auto;
	}
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased !important;

}

.body-container {
	margin: 30px auto;
	max-width: 1067px;
	background-color: $white;
	border: 1px solid $line-color;
	border-radius: 6px;
	@media #{$xlargescreen} {
		height: 810px;
	}
	@media #{$largescreen} {
		height: 1520px;
	}
	@media #{$mediumscreen} {
		height: 2420px;
	}
	@media #{$smallscreen} {
		height: 2520px;
		margin: 0 auto;
		border: 0;
	}
	
}