<section class="content-section">

	<div class="row-s-12 row-m-8 row-l-8 row-xl-8">
		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>LEFTimage1</p>
					<p>Kicking off 2016 with these new hits</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>LEFTimage2</p>
					<p>Available later this season</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>LEFTimage3</p>
					<p>Rewind last year's best hits</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>LEFTimage4</p>
					<p>Hear some of the newest hits in 2016</p>
				</a>
			</div>
		</div>

	</div>

	<div class="hide-s row-m-4 row-l-4 row-xl-4">
		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>RIGHTimage1</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>RIGHTimage2</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>RIGHTimage3</p>
				</a>
			</div>
		</div>

		<div class="row-s-12">
			<div class="content">
				<a href="#">
					<p>RIGHTimage4</p>
				</a>
			</div>
		</div>
	</div>


</section> <!-- end of content-section -->