<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ZapLabs Exercise</title>
	<link rel="shortcut icon" href="images/favicon-rebel.ico">
	<meta name="description" content="ZapLabs Exercise">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--build:css css/styles.min.css-->
	<!-- the css below will be minified into styles.min.css
	This is accomplished cssnano (checkout gulpfile.js) -->
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/content.css">
	<link rel="stylesheet" href="css/footer.css">
	<!--endbuild-->
	<!--build:js js/main.min.js-->
	<!-- the js below will be minified into main.min.js 
	This is accomplished using uglify (checkout gulpfile.js) -->
	<script src="js/main.js"></script>
	<script src="js/navbar.js"></script>
	<!-- endbuild -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="body-container">
		<!-- To help emulate an actual working environment (in other words, reduce
		merge conflicts) I have also put my HTML into various partials. This is 
		accomlished using fileinclude (checout gulpfile.js) -->
		@@include("./navbar.html")
		@@include("./content.html")
		@@include("./footer.html")
		<!-- @@include("./test.html") -->
	</div>
</body>
</html>