<section class="navbar-section">
	<nav id="navdropdown">
		<div class="hide-s hamburger-height">
			<ul class="hide-s row-l-12 row-s-1-push centered-nav">
				<li class="dropdown"><a href="/web-design/index.html">Web&nbsp;Design</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/design/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/design/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/design/Elit">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/gui/index.html">GUI</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/gui/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/gui/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/gui/elit.html">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/mobile-dev/index.html">Mobile&nbsp;Dev</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/mobile-dev/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/mobile-dev/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/mobile-dev/elit.html">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/graphic-design/index.html">Graphic&nbsp;Design</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/graphic-design/fireworks.html">Fireworks</a><div class="arrow-right"></div>
						<a href="/graphic-design/flash.html">Flash</a><div class="arrow-right"></div>
						<a href="/graphic-design/icon-design.html">Icon Design</a><div class="arrow-right"></div>
						<a href="/graphic-design/illustrator.html">Illustrator</a><div class="arrow-right"></div>
						<a href="/graphic-design/logo-design.html">Logo Design</a><div class="arrow-right"></div>
						<a href="/graphic-design/photoshop.html">Photoshop</a><div class="arrow-right"></div>
						<a href="/graphic-design/typography.html">Typography</a><div class="arrow-right"></div>
						<a href="/graphic-design/vector-resources.html">Vector Resources</a><div class="arrow-right"></div>
						<a href="/graphic-design/graphic-design-archive.html">Graphic Design Archive</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/freelance/index.html">Freelance</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/freelance/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/freelance/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/freelance/elit.html">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/resources/index.html">Resources</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/resources/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/resources/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/resources/elit.html">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><a href="/inspiration/index.html">Inspiration</a><div class="arrow-down"></div>
					<div class="dropdown-content">
						<a href="/inspiration/lorem-ipsum.html">Lorem Ipsum</a><div class="arrow-right"></div>
						<a href="/inspiration/dolor-sit.html">Dolor Sit</a><div class="arrow-right"></div>
						<a href="/inspiration/elit.html">Elit</a><div class="arrow-right"></div>
					</div>
				</li>
				<li class="dropdown"><div class="hide-xl show-l show-m"><a href="#" class>search</a><div class="arrow-down"></div></div>
					<div class="dropdown-content dropdown-content-search">
						<div id="tfheader">
							<form id="tfnewsearch" method="get" action="http://www.google.com">
								<input type="text" class="tftextinput" name="q" size="21" maxlength="120" placeholder="Search here..."><input type="submit" value="Search" class="tfbutton">
							</form>
							<div class="tfclear"></div>
						</div>
					</div>
				</li>
				<li class="search-position">
					<div id="tfheader" class="hide-m hide-l show-xl">
						<form id="tfnewsearch" method="get" action="http://www.google.com">
							<input type="text" class="tftextinput" name="q" size="21" maxlength="120" placeholder="Search here..."><input type="submit" value="Search" class="tfbutton">
						</form>
						<div class="tfclear"></div>
					</div>
				</li>
				
				<!-- <li><div class="search-icon hide-l hide-xl show-m"><a href="#" title="search icon"></a></div></li> -->
			</ul>
		</div>
		<div id="nav-height" class="show-only-s">
			<ul id="hamburger_toggle" onclick="hide('hamburger_toggle'), show('dropdown', 'navdropdown')" class="row-s-12">
				<div class="row-s-1-push"><li class="hamburger"></li></div>
				<li class="search-icon"><a href="search.html" title="search icon"></a></li>
			</ul>
			<ul id="dropdown" onclick="hide('dropdown'), show('hamburger_toggle')" class="row-s-12">
				<div class="row-s-1-push"><li class="dropdown-mark"><a></a></li></div>
				<li class="menu-drop"><a href="/webdesign/index.html">Web&nbsp;Design</a></li>
				<li class="menu-drop"><a href="/gui/index.html">GUI</a></li>
				<li class="menu-drop"><a href="/gui/index.html">Mobile&nbsp;Dev</a></li>
				<li class="menu-drop"><a href="/graphic-design/index.html">Graphic&nbsp;Design</a></li>
				<li class="menu-drop"><a href="/freelance/index.html">Freelance</a></li>
				<li class="menu-drop"><a href="/resources/index.html">Resources</a></li>
				<li class="menu-drop"><a href="/inspiration/index.html">Inspiration</a></li>
				<li class="menu-drop"><a href="/search/index.html">Search</a></li>
			</ul>
		</div>
	</nav>
</section><!-- end of navbar-section -->




	

